@import "tailwindcss";

:root {
  --background: #FDF0D5; 
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-josefin-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDF0D5;
    --foreground: #171717;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-josefin-sans), Arial, Helvetica, sans-serif;
}
