@import "tailwindcss";

:root {
  --background: #FDF0D5; 
  --foreground: #171717;

  --color-primary: #F59E0B; 
  --color-accent: #C1121F;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDF0D5;
    --foreground: #171717;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
